{% extends 'index.html' %}
{% block content %}
<div class="container py-4">
  <div class="card card-body bg-secondary mx-auto" style="width:25rem">
    <h2 class="text-center">{{title}}</h2>
    <hr>
    <form method="post">{% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <label>{{ field.label }}</label><br>
          {{field}}
        </div>
        {% endfor %}
        <hr>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  var input = document.getElementsByTagName('input');
  
  for (i = 0; i < input.length; i++){
    input[i].classList.add("form-control")
  }
</script>
{% endblock %}