{% extends "index.html" %}
{% block content %}
<div class="container py-4">
  <div class="d-flex justify-content-between">
    <div>
      <p class="display-4">Kelola Siswa</p>
    </div>
    <div class="align-self-center">
      <a href="{% url 'siswa_new' %}" class="btn btn-primary btn-sm">Tambah Siswa</a>
    </div>
  </div><hr>
  <div class="table-responsive">
    <table class="table table-bordered text-light w-100">
      <thead>
        <th>Nama</th>
        <th class="w-25 text-center">NIS</th>
        <th class="w-25 text-center">Action</th>
      </thead>
      <tbody>
        {% for i in object_list %}
        <tr>
          <td><a href="{% url 'siswa_edit' i.id %}" style="color: white;">{{i.nama}}</a></td>
          <td class="text-center">{{i.nis}}</td>
          <td class="text-center"><a href="{% url 'siswa_delete' i.id %}" class="btn btn-danger btn-sm">Hapus</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}