{% extends 'index.html' %}
{% block content %}
<div class="container py-4">
  <table class="table table-bordered text-white">
    <thead>
      <th>Pengirim</th>
      <th>Pengumuman</th>
    </thead>
    <tbody>
      {% for i in dt_pengumuman %}
        <tr>
          <td class="text-white">{{i.pengirim}}</td>
          <td class="text-white">{{i.isi}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}