{% extends 'index.html' %}
{% block content %}
<div class="container py-4" style="margin-top:130px;">
  <div class="card card-body bg-secondary mx-auto my-auto" style="width:25rem;">
    <strong class="text-center display-4">Siswa</strong><hr>
    <form action="{% url 'cek_pengumuman' %}" method="get">
      <!-- {% csrf_token %} -->
      <input type="text" name="nis" placeholder="Masukkan nim disini..." class="form-control"><hr>
      <button type="submit" class="btn btn-success">Cek Pengumuman</button>
    </form>
  </div>
</div>
{% endblock %}