{% extends 'index.html' %}
{% block content %}
<div class="container py-4" style="margin-top:130px;">
  <div class="card card-body bg-secondary mx-auto my-auto" style="width:25rem;">
    <strong class="text-center display-4">Menu</strong><hr>
    <a href="kelola/guru/" class="btn btn-success w-100">Kelola Guru</a>
    <a href="kelola/siswa/" class="btn btn-danger mt-3 w-100">Kelola Siswa</a>
    <a href="kelola/pengumuman/" class="btn btn-primary mt-3 w-100">Kelola Pengumuman</a>
  </div>
</div>
{% endblock %}