{% extends 'index.html' %}
{% block content %}
<div class="container py-4" style="margin-top:130px;">
  <div class="card card-body bg-secondary mx-auto my-auto" style="width:25rem;">
    <strong class="text-center display-4">Siapa Kamu?</strong><hr>
    <a href="/guru/" class="btn btn-success w-100">Guru</a>
    <a href="siswa/landing/" class="btn btn-danger mt-3 w-100">Siswa</a>
  </div>
</div>
{% endblock %}