{% extends "index.html" %}
{% block content %}
<div class="container">
  <div class="card card-body bg-secondary">
    <form method="post">{% csrf_token %}
        Yakin ingin menghapus "{{ object }}" ? <hr>
        <input type="submit" class="btn btn-danger btn-sm" value="Yakin" />
    </form>
  </div>
</div>
{% endblock %}