{% extends "index.html" %}
{% block content %}
<div class="container py-4">
  <div class="d-flex justify-content-between">
    <div>
      <p class="display-4">Kelola Pengumuman</p>
    </div>
    <div class="align-self-center">
      <a href="{% url 'pengumuman_new' %}" class="btn btn-primary btn-sm">Tambah Pengumuman</a>
    </div>
  </div><hr>
  <div class="table-responsive">
    <table class="table table-bordered text-light w-100">
      <thead>
        <th>Pengirim</th>
        <th class="text-center">Penerima</th>
        <th class="w-25 text-center">Isi</th>
        <th class="w-25 text-center">Action</th>
      </thead>
      <tbody>
        {% for i in object_list %}
        <tr>
          <td>{{i.pengirim}}</td>
          <td class="text-center">{% for n in i.penerima.all %}{{n.nama}}, {% endfor %}</td>
          <td class="text-center"><a href="{% url 'pengumuman_edit' i.id %}" style="color: white;">{{i.isi}}</a></td>
          <td class="text-center"><a href="{% url 'pengumuman_delete' i.id %}" class="btn btn-danger btn-sm">Hapus</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}